body{
background-color: rgb(136, 247, 186);
font: normal 15pt Arial;
}

header{
color: white;
text-align: center;
}

section{
background-color: rgb(46, 124, 46);
border-radius: 10px;
padding: 15px;
width: 600px;
height: 350px;
margin: auto;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.63);
}

footer{
color: white;
text-align: center;
font-style: italic;
}
#seltab{
    width: 165px;
}
#abaixo{
    text-align: center ;
    border-radius: 60px;
    font-style: italic;
    color: rgb(85, 163, 228);
}